<div>
	<div class="article-heading-ad">
		<script async="" src="./AngularJS 教程 _ 菜鸟教程_files/adsbygoogle.js.下载"></script>
		<!-- 移动版 自动调整 -->
		<ins class="adsbygoogle" style="display:inline-block;min-width:300px;max-width:970px;width:100%;height:90px" data-ad-client="ca-pub-5751451760833794" data-ad-slot="1691338467" data-ad-format="horizontal"></ins>
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	<div class="previous-next-links">
		<div class="previous-design-link" style="display: none;"> </div>
		<div class="next-design-link">
			<a href="http://www.runoob.com/angularjs/angularjs-intro.html" rel="next" title="AngularJS 简介">AngularJS 简介</a> →</div>
	</div>
	<div class="article-body">

		<div class="article-intro" id="content">

			<h1>AngularJS <span class="color_h1">教程</span>
</h1>
			<br>
			<div class="tutintro">
				<img src="./AngularJS 教程 _ 菜鸟教程_files/angular.jpg" alt="Angular" style="height:132px;width:132px">
				<p>AngularJS 通过新的属性和表达式扩展了 HTML。</p>
				<p>AngularJS 可以构建一个单一页面应用程序（SPAs：Single Page Applications）。</p>
				<p>AngularJS 学习起来非常简单。</p>
				<p><strong><a href="http://www.runoob.com/angularjs/angularjs-intro.html">现在开始学习 AngularJS！</a></strong></p>

			</div>
			<hr>

			<h2>每个章节都有相应的实例</h2>
			<p>在每个章节中，您可以在线编辑实例，然后点击按钮查看结果。</p>
			<div class="example">
				<h2 class="example">AngularJS 实例</h2>
				<div class="example_code htmlHigh">
					<span class="highLT">&lt;</span><span class="highELE">!DOCTYPE</span> <span class="highATT">html</span><span class="highGT">&gt;</span><br>
					<span class="highLT">&lt;</span><span class="highELE">html</span><span class="highGT">&gt;</span><br>
					<span class="highLT">&lt;</span><span class="highELE">head</span><span class="highGT">&gt;</span><br>
					<span class="highLT">&lt;</span><span class="highELE">meta</span> <span class="highATT">charset</span>=<span class="highVAL">"utf-8"</span><span class="highGT">&gt;</span><br>
					<span class="highLT">&lt;</span><span class="highELE">script</span> <span class="highATT">src=</span><span class="highVAL">"http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"</span><span class="highGT">&gt;</span><span class="highLT">&lt;</span><span class="highELE">/script</span><span class="highGT">&gt;</span><br>
					<span class="highLT">&lt;</span><span class="highELE">/head</span><span class="highGT">&gt;</span><br>
					<span class="highLT">&lt;</span><span class="highELE">body</span><span class="highGT">&gt;</span><br><br>
					<span class="highLT">&lt;</span><span class="highELE">div</span> <span class="highATT">ng-app=</span><span class="highVAL">""</span><span class="highGT">&gt;</span><br> &nbsp; <span class="highLT">&lt;</span><span class="highELE">p</span><span class="highGT">&gt;</span>名字 : <span class="highLT">&lt;</span><span class="highELE">input</span> <span class="highATT">type=</span><span class="highVAL">"text"</span> <span class="highATT">ng-model=</span><span class="highVAL">"name"</span><span class="highGT">&gt;</span><span class="highLT">&lt;</span><span class="highELE">/p</span><span class="highGT">&gt;</span><br> &nbsp; <span class="highLT">&lt;</span><span class="highELE">h1</span><span class="highGT">&gt;</span>Hello <span class="highATT">{{name}}</span><span class="highLT">&lt;</span><span class="highELE">/h1</span><span class="highGT">&gt;</span><br>
					<span class="highLT">&lt;</span><span class="highELE">/div</span><span class="highGT">&gt;</span><br><br>
					<span class="highLT">&lt;</span><span class="highELE">/body</span><span class="highGT">&gt;</span><br>
					<span class="highLT">&lt;</span><span class="highELE">/html</span><span class="highGT">&gt;</span>
				</div><br>
				<a class="tryitbtn" href="http://www.runoob.com/try/try.php?filename=try_ng_intro" target="_blank">尝试一下 »</a>
			</div>
			<br>
			<hr>

			<h2>阅读本教程前，您需要了解的知识：</h2>
			<p>在开始学习 AngularJS 之前，您需要具备以下基础知识：</p>
			<ul>
				<li>HTML</li>
				<li>CSS</li>
				<li>JavaScript</li>
			</ul>
			<hr>

			<h2>AngularJS 历史</h2>
			<p>AngularJS 是比较新的技术，版本 1.0 是在 2012 年发布的。</p>
			<p>AngularJS 是由 Google 的员工 Miško Hevery 从 2009 年开始着手开发。</p>
			<p>这是一个非常好的构想，该项目目前已由 Google 正式支持，有一个全职的开发团队继续开发和维护这个库。</p>
			<hr>

			<h2>AngularJS 实例</h2>
			<p>本教程包含了大量的 AngularJS 实例！</p>
			<p>
				<a href="http://www.runoob.com/angularjs/angularjs-examples.html">AngularJS 实例</a>
			</p>
			<hr>

			<h2>AngularJS 参考手册</h2>
			<p>参考手册包含了本教程中使用到的所有指令和过滤器。</p>
			<p>
				<a href="http://www.runoob.com/angularjs/angularjs-reference.html">AngularJS 参考手册</a>
			</p>
			<br><br>

		</div>
	</div>

	<div class="previous-next-links">
		<div class="previous-design-link" style="display: none;"> </div>
		<div class="next-design-link">
			<a href="http://www.runoob.com/angularjs/angularjs-intro.html" rel="next" title="AngularJS 简介">AngularJS 简介</a> →</div>
	</div>
	<!-- 笔记列表 -->
	<style>
		.wrapper {
			/*text-transform: uppercase; */
			background: #ececec;
			color: #555;
			cursor: help;
			font-family: "Gill Sans", Impact, sans-serif;
			font-size: 20px;
			position: relative;
			text-align: center;
			width: 200px;
			-webkit-transform: translateZ(0);
			/* webkit flicker fix */
			-webkit-font-smoothing: antialiased;
			/* webkit text rendering fix */
		}
		
		.wrapper .tooltip {
			white-space: nowrap;
			font-size: 14px;
			text-align: left;
			background: #96b97d;
			bottom: 100%;
			color: #fff;
			display: block;
			left: -25px;
			margin-bottom: 15px;
			opacity: 0;
			padding: 14px;
			pointer-events: none;
			position: absolute;
			-webkit-transform: translateY(10px);
			-moz-transform: translateY(10px);
			-ms-transform: translateY(10px);
			-o-transform: translateY(10px);
			transform: translateY(10px);
			-webkit-transition: all .25s ease-out;
			-moz-transition: all .25s ease-out;
			-ms-transition: all .25s ease-out;
			-o-transition: all .25s ease-out;
			transition: all .25s ease-out;
			-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
			-moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
			-ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
			-o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
			box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
		}
		
		.tooltip a {
			color: #fff;
		}
		/* This bridges the gap so you can mouse into the tooltip without it disappearing */
		
		.wrapper .tooltip:before {
			bottom: -20px;
			content: " ";
			display: block;
			height: 20px;
			left: 0;
			position: absolute;
			width: 100%;
		}
		/* CSS Triangles - see Trevor's post */
		
		.wrapper .tooltip:after {
			border-left: solid transparent 10px;
			border-right: solid transparent 10px;
			border-top: solid #96b97d 10px;
			bottom: -10px;
			content: " ";
			height: 0;
			left: 20%;
			margin-left: -13px;
			position: absolute;
			width: 0;
		}
		
		.wrapper .tooltip1 {
			margin-left: 50px;
			padding-top: 0px;
		}
		
		.wrapper:hover .tooltip {
			opacity: 1;
			pointer-events: auto;
			-webkit-transform: translateY(0px);
			-moz-transform: translateY(0px);
			-ms-transform: translateY(0px);
			-o-transform: translateY(0px);
			transform: translateY(0px);
		}
		/* IE can just show/hide with no transition */
		
		.lte8 .wrapper .tooltip {
			display: none;
		}
		
		.lte8 .wrapper:hover .tooltip {
			display: block;
		}
	</style>

	<div id="respond" class="no_webshot">
		<div class="comment-signarea" style="">
			<h3 class="text-muted" id="share_code"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> 点我分享笔记</h3>
			<input type="hidden" name="is_user_logged_in" id="is_user_logged_in" value="0">
			<p style="font-size:14px;">笔记需要是本篇文章的内容扩展！</p>
			<p style="font-size:14px;">
				<a href="http://www.runoob.com/w3cnote/runoob-user-test-intro.html#invite" target="_blank">注册邀请码获取方式</a>
			</p>
			<!--<h3 class="text-muted"><i class="fa fa-info-circle" aria-hidden="true"></i> 分享笔记前必须<a href="javascript:;" class="runoob-pop">登录</a>！</h3>
		<p><a href="/w3cnote/runoob-user-test-intro.html#invite" target="_blank">注册邀请码获取方式</a></p>-->
		</div>

		<form action="http://www.runoob.com/wp-content/themes/runoob/option/addnote.php" method="post" id="commentform" style="display:none;">
			<div id="comment-status"></div>
			<div class="comt">
				<div class="comt-title">
					<i style="font-size:36px;" class="fa fa-user-circle" aria-hidden="true"></i>
					<p>
						<a id="cancel-comment-reply-link" href="javascript:;">取消</a>
					</p>
				</div>
				<div class="comt-box">
					<div class="simditor">
						<div class="simditor-wrapper">
							<div class="simditor-toolbar" style="top: 0px; width: 0px; left: 0px;">
								<ul>
									<li>
										<a tabindex="-1" unselectable="on" class="toolbar-item toolbar-item-bold" href="javascript:;" title="加粗文字 ( Ctrl + b )"><span class="simditor-icon simditor-icon-bold"></span></a>
									</li>
									<li>
										<a tabindex="-1" unselectable="on" class="toolbar-item toolbar-item-code" href="javascript:;" title="插入代码"><span class="simditor-icon simditor-icon-code"></span></a>
									</li>
									<li>
										<a tabindex="-1" unselectable="on" class="toolbar-item toolbar-item-ul" href="javascript:;" title="无序列表 ( Ctrl + . )"><span class="simditor-icon simditor-icon-list-ul"></span></a>
									</li>
									<li>
										<a tabindex="-1" unselectable="on" class="toolbar-item toolbar-item-ol" href="javascript:;" title="有序列表 ( ctrl + / )"><span class="simditor-icon simditor-icon-list-ol"></span></a>
									</li>
								</ul>
							</div>
							<div class="simditor-placeholder" style="display: block; top: 1px;">写笔记...</div>
							<div class="simditor-body" contenteditable="true">
								<p><br></p>
							</div>
							<div id="mded"></div>
						</div>
						<div class="simditor-popover code-popover">
							<div class="code-settings">
								<div class="settings-field">
									<select class="select-lang">
										<option value="-1">选择程序语言</option>
										<option value="bash">Bash</option>
										<option value="c++">C++</option>
										<option value="cs">C#</option>
										<option value="css">CSS</option>
										<option value="erlang">Erlang</option>
										<option value="less">Less</option>
										<option value="sass">Sass</option>
										<option value="diff">Diff</option>
										<option value="coffeescript">CoffeeScript</option>
										<option value="html">HTML,XML</option>
										<option value="json">JSON</option>
										<option value="java">Java</option>
										<option value="js">JavaScript</option>
										<option value="markdown">Markdown</option>
										<option value="oc">Objective C</option>
										<option value="php">PHP</option>
										<option value="parl">Perl</option>
										<option value="python">Python</option>
										<option value="ruby">Ruby</option>
										<option value="sql">SQL</option>
									</select>
								</div>
							</div>
						</div>
					</div>

					<div class="comt-ctrl">
						<div class="comt-tips"><input type="hidden" name="comment_post_ID" value="8345" id="comment_post_ID">
							<input type="hidden" name="comment_parent" id="comment_parent" value="0">
						</div>
						<button type="submit" name="submit" id="submit" tabindex="5"><i class="fa fa-pencil" aria-hidden="true"></i> 分享笔记</button>
					</div>
				</div>

				<div class="comt-comterinfo">
					<ul id="comment-author-info">
						<li class="form-inline"><label class="hide" for="author">昵称</label><input class="ipt" type="text" name="author" id="author" value="" tabindex="2" placeholder="昵称" autocomplete="off" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;"><span class="text-muted">昵称 (必填)</span></li>
						<li class="form-inline"><label class="hide" for="email">邮箱</label><input class="ipt" type="text" name="email" id="email" value="" tabindex="3" placeholder="邮箱"><span class="text-muted">邮箱 (必填)</span></li>
						<li class="form-inline"><label class="hide" for="url">引用地址</label><input class="ipt" type="text" name="url" id="url" value="" tabindex="4" placeholder="引用地址"><span class="text-muted">引用地址</span></li>
					</ul>
				</div>

			</div>

		</form>
	</div>
	<link rel="stylesheet" href="./AngularJS 教程 _ 菜鸟教程_files/qa.css">
	<link rel="stylesheet" type="text/css" href="./AngularJS 教程 _ 菜鸟教程_files/simditor.min.css">
	<div class="sidebar-box ad-box ad-box-large">
		<div class="ad-336280" style="display: none;">

		</div>
	</div>
</div>