<div>
	<div class="article-heading-ad">

	</div>
	<div class="previous-next-links">
		<div class="previous-design-link">←
			<a href="http://www.runoob.com/html/html-intro.html" rel="prev" title="HTML 简介">HTML 简介</a>
		</div>
		<div class="next-design-link">
			<a href="http://www.runoob.com/html/html-basic.html" rel="next" title="HTML 基础">HTML 基础</a> →</div>
	</div>
	<div class="article-body">

		<div class="article-intro" id="content">

			<h1>HTML <span class="color_h1">编辑器</span></h1>

			<style>
				img {
					width: 70%;
				}
			</style>
			<hr>
			<h2>HTML 编辑器推荐</h2>
			<p>可以使用专业的 HTML 编辑器来编辑 HTML，菜鸟教程为大家推荐几款常用的编辑器：</p>
			<ul>
				<li>Notepad++：
					<a href="https://notepad-plus-plus.org/" target="_blank">https://notepad-plus-plus.org/</a>
				</li>
				<li>Sublime Text：
					<a href="http://www.sublimetext.com/" target="_blank">http://www.sublimetext.com/</a>
				</li>
				<li>HBuilder：
					<a href="http://www.dcloud.io/" target="_blank">http://www.dcloud.io/</a>
				</li>
			</ul>
			<p>你可以从以上软件的官网中下载对应的软件，按步骤安装即可。</p>
			<p>接下来我们将为大家演示如何使用Notepad++工具来创建 HTML 文件，其他两个工具操作步骤类似。 </p>
			<hr>
			<h2>Notepad++</h2>
			<p>Notepad++是 Windows操作系统下的一套文本编辑器(软件版权许可证: GPL)，有完整的中文化接口及支持多国语言编写的功能(UTF8技术)。</p>
			<h3>步骤 1: 新建 HTML 文件</h3>
			<p>在 Notepad++ 安装完成后，选择" 文件(F)-&gt;新建(N) "，在新建的文件中输入以下代码：</p>
			<div class="example">
				<div class="example_code">
					<div class="hl-main"><span class="hl-brackets">&lt;</span><span class="hl-code">!</span><span class="hl-var">DOCTYPE</span><span class="hl-code"> </span><span class="hl-var">html</span><span class="hl-brackets">&gt;</span><span class="hl-code">
</span><span class="hl-brackets">&lt;</span><span class="hl-reserved">html</span><span class="hl-brackets">&gt;</span><span class="hl-code">
</span><span class="hl-brackets">&lt;</span><span class="hl-reserved">head</span><span class="hl-brackets">&gt;</span><span class="hl-code">
</span><span class="hl-brackets">&lt;</span><span class="hl-reserved">meta</span><span class="hl-code"> </span><span class="hl-var">charset</span><span class="hl-code">=</span><span class="hl-quotes">"</span><span class="hl-string">utf-8</span><span class="hl-quotes">"</span><span class="hl-brackets">&gt;</span><span class="hl-code">
</span><span class="hl-brackets">&lt;</span><span class="hl-reserved">title</span><span class="hl-brackets">&gt;</span><span class="hl-code">菜鸟教程(runoob.com)</span><span class="hl-brackets">&lt;/</span><span class="hl-reserved">title</span><span class="hl-brackets">&gt;</span><span class="hl-code">
</span><span class="hl-brackets">&lt;/</span><span class="hl-reserved">head</span><span class="hl-brackets">&gt;</span><span class="hl-code">
</span><span class="hl-brackets">&lt;</span><span class="hl-reserved">body</span><span class="hl-brackets">&gt;</span><span class="hl-code">
 
</span><span class="hl-brackets">&lt;</span><span class="hl-reserved">h1</span><span class="hl-brackets">&gt;</span><span class="hl-code">我的第一个标题</span><span class="hl-brackets">&lt;/</span><span class="hl-reserved">h1</span><span class="hl-brackets">&gt;</span><span class="hl-code">
 
</span><span class="hl-brackets">&lt;</span><span class="hl-reserved">p</span><span class="hl-brackets">&gt;</span><span class="hl-code">我的第一个段落。</span><span class="hl-brackets">&lt;/</span><span class="hl-reserved">p</span><span class="hl-brackets">&gt;</span><span class="hl-code">
 
</span><span class="hl-brackets">&lt;/</span><span class="hl-reserved">body</span><span class="hl-brackets">&gt;</span><span class="hl-code">
</span><span class="hl-brackets">&lt;/</span><span class="hl-reserved">html</span><span class="hl-brackets">&gt;</span></div>
				</div>
			</div>
			<p>
				<img src="./HTML 编辑器 _ 菜鸟教程_files/html.jpg"></p>
			<h3>步骤 2: 另存为 HTML 文件</h3>
			<p>然后选择" 文件(F)-&gt;另存为(A) "，文件名为 runoob.html:</p>
			<p>
				<img src="./HTML 编辑器 _ 菜鸟教程_files/html2.jpg"></p>

			<p>当您保存 HTML 文件时，既可以使用 .htm 也可以使用 .html 扩展名。两者没有区别，完全根据您的喜好。</p>

			<p>在一个容易记忆的文件夹中保存这个文件，比如 <strong>runoob</strong></p>
			<h3>步骤 3: 在浏览器中运行这个 HTML 文件</h3>
			<p>启动您的浏览器，然后选择"文件"菜单的"打开文件"命令，或者直接在文件夹中双击您的 HTML 文件,
			</p>
			<p>运行显示结果类似如下:</p>
			<p>
				<img src="./HTML 编辑器 _ 菜鸟教程_files/html3.jpg"></p>

			<blockquote>
				<p>
					Notepad++ 和 Sublime Text 还可以配合 Emmet 插件来提高编码速度。
				</p>
				<p>Emmet 官网：
					<a href="http://emmet.io/" target="_blank">http://emmet.io/</a>
				</p>
			</blockquote>

		</div>
	</div>

	<div class="previous-next-links">
		<div class="previous-design-link">←
			<a href="http://www.runoob.com/html/html-intro.html" rel="prev" title="HTML 简介">HTML 简介</a>
		</div>
		<div class="next-design-link">
			<a href="http://www.runoob.com/html/html-basic.html" rel="next" title="HTML 基础">HTML 基础</a> →</div>
	</div>
	<!-- 笔记列表 -->
	<style>
		.wrapper {
			/*text-transform: uppercase; */
			background: #ececec;
			color: #555;
			cursor: help;
			font-family: "Gill Sans", Impact, sans-serif;
			font-size: 20px;
			position: relative;
			text-align: center;
			width: 200px;
			-webkit-transform: translateZ(0);
			/* webkit flicker fix */
			-webkit-font-smoothing: antialiased;
			/* webkit text rendering fix */
		}
		
		.wrapper .tooltip {
			white-space: nowrap;
			font-size: 14px;
			text-align: left;
			background: #96b97d;
			bottom: 100%;
			color: #fff;
			display: block;
			left: -25px;
			margin-bottom: 15px;
			opacity: 0;
			padding: 14px;
			pointer-events: none;
			position: absolute;
			-webkit-transform: translateY(10px);
			-moz-transform: translateY(10px);
			-ms-transform: translateY(10px);
			-o-transform: translateY(10px);
			transform: translateY(10px);
			-webkit-transition: all .25s ease-out;
			-moz-transition: all .25s ease-out;
			-ms-transition: all .25s ease-out;
			-o-transition: all .25s ease-out;
			transition: all .25s ease-out;
			-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
			-moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
			-ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
			-o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
			box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
		}
		
		.tooltip a {
			color: #fff;
		}
		/* This bridges the gap so you can mouse into the tooltip without it disappearing */
		
		.wrapper .tooltip:before {
			bottom: -20px;
			content: " ";
			display: block;
			height: 20px;
			left: 0;
			position: absolute;
			width: 100%;
		}
		/* CSS Triangles - see Trevor's post */
		
		.wrapper .tooltip:after {
			border-left: solid transparent 10px;
			border-right: solid transparent 10px;
			border-top: solid #96b97d 10px;
			bottom: -10px;
			content: " ";
			height: 0;
			left: 20%;
			margin-left: -13px;
			position: absolute;
			width: 0;
		}
		
		.wrapper .tooltip1 {
			margin-left: 50px;
			padding-top: 0px;
		}
		
		.wrapper:hover .tooltip {
			opacity: 1;
			pointer-events: auto;
			-webkit-transform: translateY(0px);
			-moz-transform: translateY(0px);
			-ms-transform: translateY(0px);
			-o-transform: translateY(0px);
			transform: translateY(0px);
		}
		/* IE can just show/hide with no transition */
		
		.lte8 .wrapper .tooltip {
			display: none;
		}
		
		.lte8 .wrapper:hover .tooltip {
			display: block;
		}
	</style>

	<div class="title" id="comments">
		<h2><i class="fa fa-sticky-note" aria-hidden="true"></i> 笔记列表</h2>
	</div>
	<div id="postcomments">
		<ol class="commentlist">
			<li class="comment even thread-even depth-1" id="comment-1437"><span class="comt-f">#1</span>
				<div class="comt-avatar wrapper"><i style="font-size:36px;" class="fa fa-user-circle" aria-hidden="true"></i>
					<div class="tooltip">
						<p><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;祖骁先生TM</p>
						<p><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;703186363@qq.com</p>
					</div>
				</div>
				<div class="comt-main" id="div-comment-1437">
					<p>每一种操作系统都带有简单的文本编辑器：</p>
					<ul>
						<li><i style="font-size:12px;color:#cfcfcf;padding-right: 4px;" class="fa fa-circle" aria-hidden="true"></i> Windows 用户可以使用记事本；</li>
						<li><i style="font-size:12px;color:#cfcfcf;padding-right: 4px;" class="fa fa-circle" aria-hidden="true"></i> Linux 用户可以选择几种不同的文本编辑器，如 vi、vim 或者 emacs ；</li>
						<li><i style="font-size:12px;color:#cfcfcf;padding-right: 4px;" class="fa fa-circle" aria-hidden="true"></i> Mac 用户可以使用 OS X 预装的 TextEdit。</li>
					</ul>
					<div class="comt-meta wrapper"><span class="comt-author"><a href="javascript:;">祖骁先生TM</a><div class="tooltip tooltip1"><p><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;祖骁先生TM</p><p><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;703186363@qq.com</p></div></span>1个月前 (03-12)</div>
				</div>
			</li>
			<!-- #comment-## -->
		</ol>
		<div class="pagenav">
		</div>
	</div>

	<div id="respond" class="no_webshot">
		<div class="comment-signarea" style="">
			<h3 class="text-muted" id="share_code"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> 点我分享笔记</h3>
			<input type="hidden" name="is_user_logged_in" id="is_user_logged_in" value="0">
			<p style="font-size:14px;">笔记需要是本篇文章的内容扩展！</p>
			<p style="font-size:14px;">
				<a href="http://www.runoob.com/w3cnote/runoob-user-test-intro.html#invite" target="_blank">注册邀请码获取方式</a>
			</p>
			<!--<h3 class="text-muted"><i class="fa fa-info-circle" aria-hidden="true"></i> 分享笔记前必须<a href="javascript:;" class="runoob-pop">登录</a>！</h3>
		<p><a href="/w3cnote/runoob-user-test-intro.html#invite" target="_blank">注册邀请码获取方式</a></p>-->
		</div>

		<form action="http://www.runoob.com/wp-content/themes/runoob/option/addnote.php" method="post" id="commentform" style="display:none;">
			<div id="comment-status"></div>
			<div class="comt">
				<div class="comt-title">
					<i style="font-size:36px;" class="fa fa-user-circle" aria-hidden="true"></i>
					<p>
						<a id="cancel-comment-reply-link" href="javascript:;">取消</a>
					</p>
				</div>
				<div class="comt-box">
					<div class="simditor">
						<div class="simditor-wrapper">
							<div class="simditor-toolbar" style="top: 0px; width: 0px; left: 0px;">
								<ul>
									<li>
										<a tabindex="-1" unselectable="on" class="toolbar-item toolbar-item-bold" href="javascript:;" title="加粗文字 ( Ctrl + b )"><span class="simditor-icon simditor-icon-bold"></span></a>
									</li>
									<li>
										<a tabindex="-1" unselectable="on" class="toolbar-item toolbar-item-code" href="javascript:;" title="插入代码"><span class="simditor-icon simditor-icon-code"></span></a>
									</li>
									<li>
										<a tabindex="-1" unselectable="on" class="toolbar-item toolbar-item-ul" href="javascript:;" title="无序列表 ( Ctrl + . )"><span class="simditor-icon simditor-icon-list-ul"></span></a>
									</li>
									<li>
										<a tabindex="-1" unselectable="on" class="toolbar-item toolbar-item-ol" href="javascript:;" title="有序列表 ( ctrl + / )"><span class="simditor-icon simditor-icon-list-ol"></span></a>
									</li>
								</ul>
							</div>
							<div class="simditor-placeholder" style="display: block; top: 1px;">写笔记...</div>
							<div class="simditor-body" contenteditable="true">
								<p><br></p>
							</div>
							<div id="mded"></div>
						</div>
						<div class="simditor-popover code-popover">
							<div class="code-settings">
								<div class="settings-field">
									<select class="select-lang">
										<option value="-1">选择程序语言</option>
										<option value="bash">Bash</option>
										<option value="c++">C++</option>
										<option value="cs">C#</option>
										<option value="css">CSS</option>
										<option value="erlang">Erlang</option>
										<option value="less">Less</option>
										<option value="sass">Sass</option>
										<option value="diff">Diff</option>
										<option value="coffeescript">CoffeeScript</option>
										<option value="html">HTML,XML</option>
										<option value="json">JSON</option>
										<option value="java">Java</option>
										<option value="js">JavaScript</option>
										<option value="markdown">Markdown</option>
										<option value="oc">Objective C</option>
										<option value="php">PHP</option>
										<option value="parl">Perl</option>
										<option value="python">Python</option>
										<option value="ruby">Ruby</option>
										<option value="sql">SQL</option>
									</select>
								</div>
							</div>
						</div>
					</div>

					<div class="comt-ctrl">
						<div class="comt-tips"><input type="hidden" name="comment_post_ID" value="7" id="comment_post_ID">
							<input type="hidden" name="comment_parent" id="comment_parent" value="0">
						</div>
						<button type="submit" name="submit" id="submit" tabindex="5"><i class="fa fa-pencil" aria-hidden="true"></i> 分享笔记</button>
					</div>
				</div>

				<div class="comt-comterinfo">
					<ul id="comment-author-info">
						<li class="form-inline"><label class="hide" for="author">昵称</label><input class="ipt" type="text" name="author" id="author" value="" tabindex="2" placeholder="昵称" autocomplete="off" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;"><span class="text-muted">昵称 (必填)</span></li>
						<li class="form-inline"><label class="hide" for="email">邮箱</label><input class="ipt" type="text" name="email" id="email" value="" tabindex="3" placeholder="邮箱"><span class="text-muted">邮箱 (必填)</span></li>
						<li class="form-inline"><label class="hide" for="url">引用地址</label><input class="ipt" type="text" name="url" id="url" value="" tabindex="4" placeholder="引用地址"><span class="text-muted">引用地址</span></li>
					</ul>
				</div>

			</div>

		</form>
	</div>

	<link rel="stylesheet" href="./HTML 编辑器 _ 菜鸟教程_files/qa.css">
	<link rel="stylesheet" type="text/css" href="./HTML 编辑器 _ 菜鸟教程_files/simditor.min.css">
	<div class="sidebar-box ad-box ad-box-large">
		<div class="ad-336280" style="display: none;">

		</div>
	</div>
</div>