<div class="weui-tabbar">
	<a ng-href="#/index/recommend" class="weui-tabbar__item" ng-class="{'weui-bar__item_on':item==0}" ng-click="itemOn(0)">
		<img src="./images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
		<p class="weui-tabbar__label">推荐</p>
	</a>
	<a ng-href="#/index/entertain" class="weui-tabbar__item" ng-class="{'weui-bar__item_on':item==1}" ng-click="itemOn(1)">
		<img src="./images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
		<p class="weui-tabbar__label">娱乐</p>
	</a>
	<a ng-href="#/index/society" class="weui-tabbar__item" ng-class="{'weui-bar__item_on':item==2}" ng-click="itemOn(2)">
		<img src="./images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
		<p class="weui-tabbar__label">社会</p>
	</a>
	<a ng-href="#/index/military" class="weui-tabbar__item" ng-class="{'weui-bar__item_on':item==3}" ng-click="itemOn(3)">
		<img src="./images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
		<p class="weui-tabbar__label">军事</p>
	</a>
</div>